/**
 * blanc : white
 * noir : #0c0c0d
 * orange clair : #ff9400;
 * orange foncé : #a44900;
 * gris clair : #ededf0;
 * gris foncé : #737373;
 */

body {
    background-color: white;
    color: #0c0c0d;
    display: flex;
    flex-flow: row wrap;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: calc(100vh - 2em);
    padding-top: 4em;
}
body > * {
    flex: 1 100%;
}
p {
    text-align: justify;
}
ul {
    text-align: left;
}
a {
    color: #a44900;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a[href^="https://"]::after, a[href^="http://"]::after {
    content: " 🔗";
}

abbr[title] {
    border-bottom-width: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 0.5em;
    text-align: center;
}
th {
    background: #ededf0;
    border: 1px solid #ededf0;
}
td {
    border: 1px solid #ededf0;
}
hr {
    border-bottom: 1px solid #ededf0;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

header {
    background-color: #ff9400;
    box-sizing: border-box;
    color: white;
    height: 4em;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
header > a {
    float: left;
    height: 100%;
}
header img {
    height: 100%;
}
header h1 {
    float: left;
    font-weight: 500;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    font-size: 2.5em;
}
header h1 a {
    color: white;
}

nav {
    font-size: 1.2em;
    height: 2em;
    margin-top: 0.5em;
    text-align: right;
}

nav ol {
    margin-top: 0;
}
nav ol > li {
    display: inline-block;
    padding: 0.5em 1em;
    text-align: left;
    width: 10em;
}
nav ol span {
    cursor: default;
}
nav ol span::after {
    content: "  ▾";
}
nav ul {
    background-color: white;
    border-radius: 2px;
    box-shadow:
        0 2px 2px 0    rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0    rgba(0, 0, 0, 0.12);
    display: none;
    list-style-type: none;
    margin-left: calc(-1em - 1px);
    padding: 0.3em 0;
    text-align: left;
    width: 12em;
}
nav ol a {
    box-sizing: border-box;
    color: #0c0c0d;
    display: inline-block;
    padding: 0.5em 1em;
    width: 100%;
}
nav ol a:hover {
    background-color: #ededf0;
    color: #0c0c0d;
    text-decoration: none;
}
nav ol > li:hover > ul {
    display: block;
    position: absolute;
    top: 3em;
}

h2 {
    color: #a44900;
    font-size: 2em;
    font-weight: normal;
    padding-left: 0.5em;
}
section + section {
    border-top: 1px solid #ededf0;
}

footer {
    background-color: #ededf0;
    color: white;
}
footer a[href^="https://"]::after, footer a[href^="http://"]::after {
    content: "";
}
footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
}
footer li {
    width: 200px;
    text-align: center;
}
footer img {
    display: block;
    margin: auto;
    width: 36px;
}
footer a, footer span {
    color: #0c0c0d;
}
footer a:hover {
    color: #737373;
    text-decoration: none;
}

footer ol {
    background-color: white;
    border-radius: 2px;
    box-shadow:
        0 2px 2px 0    rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0    rgba(0, 0, 0, 0.12);
    display: none;
    margin-left: calc(-1em - 1px);
    padding: 0.3em 0;
}
footer ol li {
    flex: 1;
}
footer ul > li:hover > ol {
    display: flex;
    position: relative;
    bottom: 100%;
}

@media screen and (min-width: 1024px) {
    main {
        flex: 10 1 50%;
        margin: 2em;
        text-align: left;
    }
    aside {
        flex: 1 1 20%;
        margin: 2em;
    }
    aside ul {
        top: 3em;
        list-style-type: none;
        padding-left: 0;
    }
    aside a {
        color: #0c0c0d;
        padding-left: 0.5em;
    }
    aside a:hover {
        border-left: 1px solid #a44900;
        color: #a44900;
        padding-left: calc(0.5em - 1px);
        text-decoration: none;
    }
    aside .active a {
        border-left: 2px solid #a44900;
        color: #a44900;
        padding-left: calc(0.5em - 2px);
    }
}

@media screen and (max-width: 1023px) {
    header {
        padding-left: 1em;
        padding-right: 1em;
        width: inherit;
    }
    main {
        margin-left: 1em;
        margin-right: 1em;
    }
    aside {
        display: none;
    }
}

.tabs > ul {
    border-bottom: 1px solid #ff9400;
}
.tabs > ul li {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
}
.tabs > ul li.active {
    background-color: #ff9400;
    color: white;
}

.infobox, .warnbox {
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 0.2em 1em 0.2em calc(0.4em + 48px);
    text-align: left;
}
.infobox {
    background: #ededf0 url("img/info.svg") 0.2em/3em no-repeat;
}
.warnbox {
    background: #ededf0 url("img/warn.svg") 0.2em/3em no-repeat;
}
