header a {
    background-color: #212121;
    border-radius: 50%;
    box-shadow:
        0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
        0 1px 1px   0 rgba(0, 0, 0, 0.24);
    display: inline-block;
    float: right;
    height: 2em;
    margin-left: 1em;
    width: 2em;
}
header a:hover {
    background-color: black;
}
header a img {
    margin: 15%;
    width: 70%;
}

main {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#snippet {
    text-align: center;
}
#snippet li {
    display: inline-block;
}
#snippet a {
    color: black;
    display: inline-block;
    height: 100px;
    margin: 1em;
    padding-left: 100px;
    width: 300px;
}
#snippet a:hover {
    color: #ff9800;
    text-decoration: none;
}
.icn-linters {
    background: url("img/linters.svg") no-repeat;
}
.icn-install {
    background: url("img/install.svg") no-repeat;
}
.icn-config {
    background: url("img/config.svg") no-repeat;
}
.icn-use {
    background: url("img/use.svg") no-repeat;
}
.icn-reporters {
    background: url("img/reporters.svg") no-repeat;
}
