main {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#snippet {
    text-align: center;
}
#snippet li {
    display: inline-block;
    margin: 1em;
    text-align: center;
}
#snippet img {
    float: left;
}
#snippet a {
    border-left: 1px solid #ededf0;
    color: #0c0c0d;
    display: inline-block;
    height: 48px;
    margin-left: 8px;
    padding-left: 8px;
    width: 300px;
}
#snippet a:hover {
    color: #ff9400;
    text-decoration: none;
}
