header a {
    background-color: #212121;
    border-radius: 50%;
    box-shadow:
        0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
        0 1px 1px   0 rgba(0, 0, 0, 0.24);
    display: inline-block;
    float: right;
    height: 2em;
    margin-left: 1em;
    width: 2em;
}
header a:hover {
    background-color: black;
}
header a img {
    margin: 15%;
    width: 70%;
}

main {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#snippet {
    text-align: center;
}
#snippet li {
    display: inline-block;
    margin: 1em;
    text-align: center;
}
#snippet img {
    float: left;
    opacity: 0.54;
}
#snippet a {
    border-left: 1px solid #737373;
    color: #212121;
    display: inline-block;
    height: 48px;
    margin-left: 8px;
    padding-left: 8px;
    width: 300px;
}
#snippet a:hover {
    color: #ff9800;
    text-decoration: none;
}
